*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0;
    margin: 0;
    
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../assets/logo_make_11_06_2023_171.jpg);
    background-position: center;
    background-size: cover;   
}


.contenedor{
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.contenedor h2{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;   

}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.input-contenedor input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #fff;
}

.input-contenedor i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    justify-content: center; 
}

.olvidar label input{
    margin: 3px;
}

.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: 3s;
    font-size: .9em;
}

.olvidar label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: 4s;
}
button:hover{
    opacity: .9;
}

.resgistrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}
.resgistrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 3s;
}

.resgistrar p a:hover{
    text-decoration: underline;
}

/* Inicio agenda */

.agenda{
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.margin{
    margin-top: 1rem;
}